<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoadMonitor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LoadMonitor.Settings>
            <setting name="MachineType" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="語言" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="移載X負載率警示" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="移載Y負載率警示" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="移載Z負載率警示" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="切割Y1負載率警示" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="切割Y2負載率警示" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="切割X1負載率警示" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="切割X2負載率警示" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="切割Z1負載率警示" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="切割Z2負載率警示" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="主軸負載率警示" serializeAs="String">
                <value>100</value>
            </setting>
        </LoadMonitor.Settings>
    </userSettings>
</configuration>